backend/src/StockManagement/.vs/*
backend/src/StockManagement/StockManagement/obj/*
backend/src/StockManagement/StockManagement/bin/*
backend/src/StockManagement/StockManagement.*/obj/*
backend/src/StockManagement/StockManagement.*/bin/*
